@use 'fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
  }

  body {
    @apply bg-alt-gray-primary;
    @apply text-white;
  }

  a {
    @apply text-aero-400;
    @apply transition-colors;
    @apply hover:text-aero-600;
  }

  .container {
    @apply px-4;
  }

  ::-webkit-file-upload-button {
    display: none;
  }

  ::file-selector-button {
    display: none;
  }
}

main {
  background-size: 50px !important;
}

.rainbow-background {
  background: linear-gradient(
                  90deg,
                  rgba(255, 0, 0, 1) 0%,
                  rgba(255, 154, 0, 1) 10%,
                  rgba(208, 222, 33, 1) 20%,
                  rgba(79, 220, 74, 1) 30%,
                  rgba(63, 218, 216, 1) 40%,
                  rgba(47, 201, 226, 1) 50%,
                  rgba(28, 127, 238, 1) 60%,
                  rgba(95, 21, 242, 1) 70%,
                  rgba(186, 12, 248, 1) 80%,
                  rgba(251, 7, 217, 1) 90%,
                  rgba(255, 0, 0, 1) 100%
  );
  animation: rainbow-animation 10s ease-in-out infinite;
  background-size: 800% 100%;
}

@keyframes rainbow-animation {
  0%,100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}
